@media (min-width: 600px) {
    .navbar .icon {
        display: none;
    }

    .navbar ul {
        display: flex;
    }
}


@media (min-width: 500px) {
    .discover > img {
        width: 80%;  
    }
} 