.navbar {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--gap-small);
}

.navbar > img {
    width: 110px;
    height: 50px;
    margin-left: var(--gap-small);
}

.navbar .icon {
    display: flex;
    margin-left: auto;
    margin-right: var(--gap-small);
    align-items: center;
    color: #fff;
}

.navbar-list{
    display: none;
    list-style-type: none;
    color: #fff;
}

.navbar-list > ul > li{
    margin-left: 0;
}

.navbar-list-clicked {
    display: block;
    width: 100%;
    list-style-type: none;
    color: black;
    background-color: var(--color-second);
    margin: 0;
    margin-top: var(--gap-smaller);
    padding: 0;
}

.navbar-list-clicked > li {
    padding-top: var(--gap-smaller);
    padding-bottom: var(--gap-smaller);

}

.navbar-list-clicked > li:hover:not(:last-child) {
    color: #fff;
    background-color: var(--color-first);
}

.navbar-list-clicked > li:last-child {  
    display: flex;
    justify-content: center;
    background-color: var(--color-second);
}

.btn-signup {
    border: none;
    background-color: var(--color-first);
    width: 150px;
    height: 40px;
    border-radius: 75px;
    color: #fff;
}